.form {
  border-radius: 25px;
  position: relative;
  z-index: 1;
  background:rgba(255, 255, 255, 0.5);
  max-width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form textarea {
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  height: 10em;
  resize: none;
}
.form button {
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #27C5FF;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.navbar a {
  /* display: inline-block; */
  color: #f2f2f2;
  text-align: center;
  padding: 2.3% 4.3%;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
